<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="login">Correo</label>
        <!--[] for Input bind () for output (events)-->
        <input type="text" name="login" [(ngModel)] = "login"  
        id="login" placeholder="Introduzca su correo"/>
    </div>
    <div class="form-control">
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" [(ngModel)] = "password"  
         id="pass" placeholder="Introduzca su contraseña"/>
    </div>
    <div style="text-align: center;">
        <label for="tipo">Tipo de usuario</label>
        <fieldset>
            <input type="radio" id="agente" name="tipo" value="agente" [(ngModel)] = "type" />
            <label for="agente">Agente</label>
            <input type="radio" id="funcionario" name="tipo" value="funcionario" [(ngModel)] = "type" />
            <label for="funcionario">Funcionario</label>
        </fieldset>
    </div>
    <input type="submit" value="Enviar" class="btn btn-block">
</form>
