<span class="primary_color"><h1>Consulte sus paneles</h1></span>
<h3>Para comenzar, seleccione una via.</h3>
<p>A continuación, haga click sobre el boton ver para ver los paneles asignados a esta</p>
<table mat-table [dataSource]="viasData" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let via"> {{via.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let via"> {{via.nombre}} </td>
    </ng-container>
    <!-- Municipio Column -->
    <ng-container matColumnDef="municipio">
        <th mat-header-cell *matHeaderCellDef> Municipio </th>
        <td mat-cell *matCellDef="let via"> {{via.municipio}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <button mat-button (click)="getVia(row.id)">Ver</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>