button {
    margin-top: 35px;
}

.expanded-table {
    width: 100%;
}

.mat-column-id {
    color: green;
    padding-left: 100px;
}

.mat-column-fecha_ini {
    padding-left: 30px;
}

.mat-column-via {
    padding-left: 30px;
}

.mat-column-evento {
    border-right: 1px solid green;
    padding-left: 30px;
}

.mat-column-demo-symbol {
    text-align: center;
    font-weight: bold;
}